<h1>Look at all these goals.</h1>

<h2>My Goals</h2>

<ul>
<% @my_goals.each do |goal| %>

  <li><%= goal.name %></li>
  <%= "<li>Private</li>".html_safe if goal.private_goal? %>
  <li><%= link_to "Goal Details", goal_url(goal) %></li>
  <%  unless goal.completed? %>
    <li><%= button_to "Complete Goal", goal_complete_url(goal) %></li>
  <% end %>
  <br>
<% end %>
</ul>

<p>
  <%= link_to "Set A New Goal", new_goal_url %>
</p>

<h2>Other People's Goals</h2>

<ul>
<% @other_peoples_goals.each do |goal| %>

  <li><%= goal.name %> (<%= goal.user.username %>)</li>
  <%= "<li>Private</li>".html_safe if goal.private_goal? %>
  <ul>
    <li><%= link_to "Goal Details", goal_url(goal) %></li>
  </ul>

  <br>
<% end %>
</ul>

