<!DOCTYPE html>
<html>
<head>
  <title>Goals App</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
</head>

<body>



<section class="site_header">
  <section class="login_info">

      <%= link_to "Admin Interface", admin_goals_url if current_user.try(:admin?) %>

    <% if current_user %>

      Currently logged in as: <%= current_user.username %>
      <%= button_to "Sign Out", session_url, method: :delete %>

    <% else %>

      <%= link_to "Sign In", new_session_url %>
      <br>
      <%= link_to "Sign Up", new_user_url %>

    <% end %>
  </section>

  <h1 class="site_title"><a href="<%= goals_url %>" id="site_title_link">MEET YOUR GOALS</a></h1>

</section>

<p>
  <%= flash[:errors] %>
</p>



<%= yield %>

</body>
</html>
